@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-align: none;
}
#header {
  width: 100%;
  height: 195px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index:999999;
}
.header-top {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: flex-end;
 
 
}
.header-top ul {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 50px;
}
.logo img {
  margin-top: 7px;
  margin-right: 70px;
  background-color: blueviolet;
}
.nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.slider {
  margin-top: 195px;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}
h1 {
  text-align: center;
  color: #e5181e;
  font-weight: bold;
  margin-top: 30px;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.contents {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
  font-size: 16;
}
.contents2 {
  /* width: 80%; */
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}
.footer {
  background-color: rgb(192, 189, 189);
  padding: 50px;
  line-height: 30px;
}
